.container {
    margin-top: 15px;

    margin-left: 200px;
    margin-right: 200px;

    display: grid;
    grid-template-rows: minmax(300,auto);
    grid-template-columns: repeat(4,1fr) ;
    grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    border: 5px solid rebeccapurple;
    align-items:center;
    
}

.box {
    background-color: bisque;
    border: 1px solid red;
    border: 5px;
}

.header {
    grid-area: hd;
}

#subheader {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#home {
    grid-area: hd;
    grid-column: 1;
}

#plan {
    grid-area: hd;
    grid-column: 2;
}

#contact {
    grid-area: hd;
    grid-column: 3;
}

#about {
    grid-area: hd;
    grid-column: 4;
}

.sd {
    grid-area:  sd;
    
    
}

.content {
    grid-area: main;
    height: fit-content;
   
}

#nestGrid {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:45% 45%;
    
    
    grid-gap: 15px;
}

.box2 {
    background-size: auto;
    background-image: cover;
}

.footer {
    grid-area: ft;
}

h1 {
    color: purple;
}

img {
    width: 100%;
    height: 340px;
}